<h1><i class="fas fa-film"></i>My Movie Lounge by ElTotoFuerte</h1>

<p>Find my best movies to watch and create your own list.</p>
<%= link_to "Create a new movie list", new_list_path, class: "btn btn-banner" %>

<% @lists.each do |list| %>
  <h3><%= list.name %></h3>
<% end %>
